.main-container {
    width: 1200px;
    min-height: 100px;
    margin: 5em auto;
    background: #fff;
    text-align: left;
}

.header-container {
    min-height: 25px;
    height: 100px;
    font-family: 'arial', sans-serif;
}

.body,h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif;
}

.title {
    font-size: 3em;
    color: #1e73be;
}

caption {
    font-size: 2em;
    color: #1e73be;
}

.logga-bild {
    position: absolute;
    top:60px;
    left: 0px;
    width: 100x;
    height: 50px;
}

table, th {
    border: 1px solid black;
    border-collapse: collapse;
}

.elevuppgifter, .personnummer {
    width: 500px;
    border: 1px solid black;
    padding: 1px;
    margin: 5em auto;
    text-align: left;
}

.villkorspapper {
    display:flex;
    flex-direction: row;
    width: 1000px;
}

.elevuppgifter, .personnummer {
    width: 50%;
} 

.topnav {
    overflow: hidden;
    background-color: #1e73be;
}
  
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: rgb(0, 0, 0);
}
  
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
  
.topnav .icon {
    display: none;
}
  
@media screen and (max-width: 600px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon {
    float: right;
    display: block;
}
  
@media screen and (max-width: 600px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
}

.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}



.flex,
.flex-align-center,
.flex-content-center,
.flex-content-start,
.flex-content-end,
.flex-content-space-between,
.flex-content-space-around,
.flex-row,
.flex-column,
.flex-grow { display: flex !important; }

.flex-align-center { align-items: center; }
.flex-content-center { justify-content: center; }
.flex-content-start { justify-content: flex-start; }
.flex-content-end { justify-content: flex-end; }
.flex-content-space-between { justify-content: space-between; }
.flex-content-space-around { justify-content: space-around; }
.flex-grow { flex-grow: 1; }

.flex-row    { flex-direction: column; }
.flex-column { flex-direction: row; }
